<br>
<div class="row ">
  <div class="col s12 m8 offset-m2 teal z-depth-1">
    <h4 class="white-text center-align">{{productoSeleccionado.descripcion}}</h4>
  </div>
  <div class="col s12 m8 offset-m2 z-depth-1">
    <div class="row">

      <!-- VER PRODUCTO -->
      <div class="col s12 m8 offset-m2" ng-show="vista=='ver'">
        <br>
        <table class="">
          <tr>
            <td><strong>Código </strong></td>
            <td>{{productoSeleccionado.codigo}}</td>
          </tr>
          <tr>
            <td><strong>Descripcion </strong></td>
            <td>{{productoSeleccionado.descripcion | uppercase}}.</td>
          </tr>
          <tr>
            <td><strong>Precio de costo </strong></td>
            <td>{{productoSeleccionado.costo | currency}}</td>
          </tr>
          <tr>
            <td><strong>Precio de venta </strong></td>
            <td>{{productoSeleccionado.venta | currency}}</td>
          </tr>
          <tr>
            <td><strong>Iva </strong></td>
            <td>{{productoSeleccionado.iva}}%</td>
          </tr>
          <tr>
            <td><strong>Stock </strong></td>
            <td>{{productoSeleccionado.stock}}</td>
          </tr>
          <tr>
            <td><strong>Marca </strong></td>
            <td>{{productoSeleccionado.marca}}</td>
          </tr>
        </table>
      </div>
<!-- FIN VER PRODUCTO -->

<!-- EDITAR PRODUCTO -->
<div class="col s12 m8 offset-m2" ng-show="vista=='editar'">
  <form>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">book</i>
        <input id="input_codigo" type="text" class="validate" ng-model="productoAEditar.codigo" length="10">
        <label for="input_codigo" data-error="wrong" >Código</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m12">
        <i class="material-icons prefix">description</i>
        <textarea id="textarea1" class="materialize-textarea" ng-model="productoAEditar.descripcion"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m6 s12">
        <i class="material-icons prefix">monetization_on</i>
        <input id="input_costo" type="number" class="validate" ng-model="productoAEditar.costo">
        <label for="input_costo">Valor costo</label>
      </div>
      <div class="input-field col m6 s12">
        <select ng-model="productoAEditar.iva" material-select watch>
          <!-- <option value="" disabled selected>Choose your option</option> -->
          <option value="16">16%</option>
          <option value="10">10%</option>
          <option value="5">5%</option>
          <option value="0">0%</option>
        </select>
        <label>Iva</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m6 s12">
        <i class="material-icons prefix">monetization_on</i>
        <input id="input_venta" type="number" class="validate" ng-model="productoAEditar.venta">
        <label for="input_venta">Valor venta</label>
      </div>

      <div class="input-field col m6 s12">
        <select class="" ng-model="productoAEditar.marca" material-select watch>
          <option ng-repeat="value in marcas">{{value.nombre}}</option>
        </select>
        <label>Marca</label>
      </div>
    </div>

    <!-- <div class="row right-align">
      <div class="col m6 s12 offset-1">

      </div>
      <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="crearProducto(productoAEditar)">Crear
        <i class="material-icons right">send</i>
      </button>

    </div> -->


  </form>
</div>
<!-- FIN EDITAR PRODUCTO -->

    <div class="row align-right">
      <div class="col m6 offset-m5" >

        <a class="btn red modal-trigger" ng-show="vista=='ver'" href="#modal" ><i class="material-icons left" >delete</i>Eliminar</a>
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal"><i class="material-icons left" >delete</i>Modal</a> -->

        <a class="btn orange" ng-click="vista = 'editar'" ng-show="vista=='ver'"><i class="material-icons left">edit</i>Actualizar</a>

        <a class="btn grey" ng-click="vista = 'ver'" ng-show="vista=='editar'"><i class="material-icons left">replay</i></i>Cancelar</a>
        <a class="btn" ng-click="actualizarProducto()" ng-show="vista=='editar'"><i class="material-icons left">send</i></i>Aceptar</a>

<!--
        <a  class="btn red" aria-label="Left Align" ng-click="eliminarProducto()"><i class="small material-icons">delete</i> Eliminar</a>

        <a  class="btn orange" aria-label="Left Align" ng-click="vista = 'editar'">
          <i class="small material-icons">edit</i> Actualizar
        </a> -->

      </div>
    </div>

    </div>
  </div>
</div>


<!-- Modal Trigger -->
 <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal">Modal</a> -->

 <!-- Modal Structure -->
 <div id="modal" class="modal">
   <div class="modal-content">
     <h4 class="teal-text">¿Eliminar producto?</h4>
     <h6>¿Está seguro que desea eliminar el producto <strong>{{productoSeleccionado.descripcion}}</strong>?</h6>
   </div>
   <div class="modal-footer">
     <a class=" modal-action modal-close red btn" ng-click="eliminarProducto()">Eliminar</a>
     <a class=" modal-action modal-close grey btn">Cancelar</a>
   </div>
 </div>
