<nav class=" teal z-depth-1">
    <!-- <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/productos">Productos</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a class='dropdown-button' data-activates='dropdown1' dropdown data-hover="true">
       James Garzón Otálvaro <i class="mdi-social-person left"></i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a >James Garzón Otálvaro</a></li>
        <li><a >Ver Perfil<i class="mdi-action-account-circle right"></i></a></li>
        <li><a >Salir <i class="mdi-hardware-keyboard-return right"></i></a></li>
      </ul>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a> -->

    <ul id="slide-out" class="side-nav">
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">James Garzón<i class="mdi-social-person left"></i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#!">First</a></li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="mdi-social-person left"></i></a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

</nav>
